@font-face {
    font-family: handy-icon;
    src: url(../fonts/iconfont.ttf) format('truetype');
}

.iconfont {
    font-family: handy-icon;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

.icon-file-pic::before {
    content: '\e614';
}

.icon-edit::before {
    content: '\e603';
}

.icon-gear::before {
    content: '\e601';
}

.icon-add::before {
    content: '\e621';
}

.icon-start::before {
    content: '\e84a';
}

.icon-user::before {
    content: '\e6a3';
}

.icon-star2::before {
    content: '\e6a4';
}

.icon-psd::before {
    content: '\e6a7';
}

.icon-question::before {
    content: '\e8b8';
}

.icon-home::before {
    content: '\e651';
}

.icon-password::before {
    content: '\e673';
}

.icon-laji::before {
    content: '\e609';
}

.icon-file-txt::before {
    content: '\e957';
}

.icon-arr-up::before {
    content: '\e62d';
}

.icon-upload::before {
    content: '\e7da';
}

.icon-arr-filter::before {
    content: '\e62b';
}

.icon-total::before {
    content: '\e637';
}

.icon-calendar::before {
    content: '\e634';
}

.icon-cancel::before {
    content: '\e636';
}

.icon-refresh::before {
    content: '\e635';
}

.icon-arr-rights::before {
    content: '\e631';
}

.icon-arr-lefts::before {
    content: '\e690';
}

.icon-message::before {
    content: '\e78a';
}

.icon-warning::before {
    content: '\edf9';
}

.icon-close-o::before {
    content: '\e630';
}

.icon-close::before {
    content: '\e962';
}

.icon-check::before {
    content: '\e687';
}

.icon-search::before {
    content: '\e66d';
    scale: .95;
}

.icon-loading::before {
    content: '\e615';
}

.icon-loading2::before {
    content: '\e8fd';
}

.icon-eye-open::before {
    content: '\e6b4';
}

.icon-eye-close::before {
    content: '\e66f';
}

.icon-empty::before {
    content: '\e65f';
}

.icon-nodata::before {
    content: '\e600';
}

.icon-star::before {
    content: '\edf9';
}

.icon-star-left::before {
    content: '\e633';
}

.icon-star-right::before {
    content: '\e632';
}

.icon-man::before {
    content: '\ee2c';
}

.icon-woman::before {
    content: '\e670';
}

.icon-window::before {
    content: '\e664';
}

.icon-menu::before {
    content: '\e622';
}

.icon-menu2::before {
    content: '\e854';
}

.icon-cancel2::before {
    content: '\e60c';
}

.icon-nav::before {
    content: '\e920';
}

.icon-lightning::before {
    content: '\e8b6';
}

.icon-arr-left::before {
    content: '\e63b';
}

.icon-idx::before {
    content: '\e71d';
}

.icon-arr-right-b::before {
    content: '\e63e';
}

.icon-arr-rights-b::before {
    content: '\e68f';
}

.icon-info::before {
    content: '\e638';
}

.icon-more::before {
    content: '\e63f';
}

.icon-enter::before {
    content: '\e674';
}

.icon-exit::before {
    content: '\e69d';
}

.icon-time::before {
    content: '\e629';
}

.icon-create::before {
    content: '\e62e';
}

.icon-sorry::before {
    content: '\e712';
}

.icon-user2::before {
    content: '\e683';
}

.icon-mail::before {
    content: '\e659';
}

.icon-download::before {
    content: '\e6b2';
}

.icon-minus::before {
    content: '\e604';
}

.icon-filter::before {
    content: '\e618';
}

.icon-info2::before {
    content: '\e829';
}

.icon-question2::before {
    content: '\e726';
}

.icon-yinhao::before {
    content: '\e63c';
}

.icon-link::before {
    content: '\e691';
}